<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Form</title>
    <link rel="stylesheet" href="/css/base.css"/>
</head>
<body>
<h1>Register</h1>
<%= message %>
<form action="/login" method="post">
    <input type="text" name="username" placeholder="username"/> <br/>
    <input type="email" name="email" placeholder="email"/> <br/>
    <input type="password" name="password" placeholder="password"/> <br/>
    <input type="submit" value="Register"/>
</form>
</body>
</html>